<td>
  <%= approval. this is who is doing the request. %>
</td>
<td>
  <%= approval. this is where the request details go. %></td>
<td>
  <%= approval.updated_at.to_s %>
</td>
<td>
  <%= this will be the actions. %>
</td>
