<%= form_for([:character, @character_recycle], :remote => true) do |f| %>
    <%= f.error_messages :header_message => "Failed to save Character Recycle request.", :message => "The following problems prevented your request from being saved:" %>

	<ul class="form">
    <li>
        <p><em>Note: A Recycled character is permanently destroyed.</em></p>
    </li>
		<li>
			<%= f.label :reason %><br />
			<%= f.text_field :reason %>
		</li>
	</ul>

<% end %>
